<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="regexMode" type="xstring" value="First match"/>
        <config key="delimiterChar_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="regexColName" type="xstring" value="address"/>
        <config key="returnNumber_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="returnNumber" type="xint" value="1"/>
        <config key="regexMode_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="delimiterChar" type="xstring" isnull="true" value=""/>
        <config key="regexColName_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="regexString" type="xstring" value="( [0-9]{5})"/>
        <config key="regexString_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <config key="nodecontainer_message">
        <entry key="type" type="xstring" value="WARNING"/>
        <entry key="message" type="xstring" value="Node can't be executed - Node &quot;Regex Substring&quot; not available from extension &quot;AF Utility Nodes&quot; (provided by &quot;AnotherFraudExcel&quot;; plugin &quot;org.AnotherFraudExcel.PasswordManager&quot; is not installed)"/>
    </config>
    <entry key="factory" type="xstring" value="org.AF.TableUtil.RegexSubstring.RegexSubstringNodeFactory"/>
    <entry key="node-name" type="xstring" value="Regex Substring"/>
    <entry key="node-bundle-name" type="xstring" value="ExcelPasswordManager-Node extension for KNIME Workbench"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.AnotherFraudExcel.PasswordManager"/>
    <entry key="node-bundle-vendor" type="xstring" value="AnotherFraudExcel"/>
    <entry key="node-bundle-version" type="xstring" value="1.0.0.v202211201803"/>
    <entry key="node-feature-name" type="xstring" value="AF Utility Nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.anotherfraud.excel.feature.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="Another Fraud"/>
    <entry key="node-feature-version" type="xstring" value="1.0.0.v202211201803"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="MISSING Regex Substring"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
